// .listStudent-wrapper {
//   // text-align: center;
// }

.empty {
  text-align: center;
  font-size: 25px;
  color: #555;
}

.list-students {
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  padding: 0 30px;
  position: relative;
  h3 {
    color: #333;
    font-size: 1.2rem;
  }
  p {
    margin-top: 5px;
  }
}

.deleteBtn-wrapper {
  position: absolute;
  top: 0;
  right: 20px;
  button {
    background: transparent;
    color: #11a0a0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
}