.listStudent-wrapper {
  // text-align: center;
}

.list-students {
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  padding: 0 30px;
  h3 {
    color: #333;
    font-size: 1.2rem;
  }
  p {
    margin-top: 5px;
  }
}