.check-list {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 10px 0;
  width: 100vw;
  padding: 0 1em;
  padding-bottom: 0.7em;
  box-shadow: 0 3px 7px 0 #ccc;
}

.unlink {
  text-decoration: none;
  color: inherit;
}

.day-mark {  
  color: rgb(80, 80, 80);
}

.day-mark:hover, .day-mark:hover .meal-arrow > *{
  color: rgb(120, 120, 120);
  cursor: pointer;
}

.day-name {
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 0.7em;
}

.content__check-list {
  display: flex;  
  align-items: center;
  width: 100%;
}

.content__check-list > * {
  margin-right: 1.5em;
}

.checklist-icon {
  color: rgb(80, 80, 80);
}

.meal {
  margin-right: 0.7em;
  font-weight: 600;
}

.fa-check-circle {
  color: rgb(17, 160, 160);
}

.content-justify {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.red{
  color: #ff6b6b;
}