.remark-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-shadow: 0 -1px 5px 0 #ccc;
  padding: 1em;
  margin-top: 1em;
  background-color: #ededed;
}

.remark-box h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #fff;
  background-color: #ff6363;
  padding: 6px;
  border-radius: 2.5px;  
  font-weight: 800;
  align-self: center;
  margin-bottom: 0.8em;
}

.remark-text {
  font-weight: 600;  
}

.feedback-mealtype {
  background-color: rgb(129, 129, 129);
  border-radius: 20px;    
  color: #fff;
  padding: 5px;
  margin: 0.5em 0;
}

.close-btn { 
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
