.check-list-page {
  display: grid;
  justify-content: center;
  width: 90vw;
  margin-top: 1.6em;
  margin-left: -0.6em;
}

.back-btn-box {
  display: flex;
  justify-content: flex-end;
}
.back-btn {
  display: flex;
  align-items: center;  
  text-decoration: none;
  color: inherit;
  background-color: #575757;
  border-radius: 7px;
  color: #fff;
  padding: 5px;
  margin-right: 1.7em;
}

.back-btn > * {
  margin-right: 5px;
}

.send-btn {
  color: white;
  font-weight: 600;
  font-size: 0.80rem;
  background-color: rgb(17, 160, 160);
  border: none;
  padding: 0.9em 1.5em;
  margin: 0.7em 0.5em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}