.check-list-page {
  display: grid;
  justify-content: center;
  width: 90vw;
  margin: 1.2em auto;
}

.back-btn-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.back-btn {
  display: flex;
  align-items: center;  
  text-decoration: none;
  color: inherit;
  background-color: #575757;
  border-radius: 7px;
  color: #fff;
  padding: 5px;
  margin-right: 1.7em;
  cursor: pointer;
}

.back-btn > * {
  margin-right: 5px;
}

.send-btn {
  color: white;
  font-weight: 600;
  font-size: 0.80rem;
  background-color: var(--teal);
  border: none;
  padding: 0.9em 1.5em;
  margin: 0.7em 0.5em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  outline: none;
  cursor: pointer;
}

.check-box {
  display: flex;
  align-items: center;
  margin: 0.7em 7px
}

/* CheckBox styling */

input[type=checkbox] {
  transform: scale(1.2);
}

input[type=checkbox] {
  width: 30px;
  height: 27px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 18px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  margin-left: 2px;
  padding-bottom: 5px;
  color: var(--light-blue);
  width: 22px;
  height: 25px;
  visibility: visible;
  border: 1px solid var(--light-blue);
  padding-left: 3px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
  color: var(--teal);
  border: 1px solid var(--teal);
}

input[type="checkbox"]:disabled + label:before {
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.disabled {
  color: var(--light-blue);
  text-decoration: line-through;
}

.meal_type {
  color: var(--light-grey);
  width: 75px;
}

.meal-input {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--light-grey);
}

.loading {
  background-color: var(--light-blue);
}

@media screen and (max-width: 320px) {
  .check-list-page {
    margin-left: 0;
    width: 100vw;
  }
}