.contain-wrapper {
  margin: 0 auto;
  width: 80vw;
}

.invite-box {  
  width: 80vw;
  margin: 1.5em auto 0;
}

.center {
  text-align: center;  
  display: flex;
  justify-content: center;
  align-items: center;
}