.contain-wrapper {
  margin: 0 auto;
  width: 80vw;
}

.invite-box {  
  width: 80vw;
  margin: 1.5em auto 0;
}

.label-text {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  letter-spacing: -0.5px;
}