.form-page {
  display: grid;
  justify-items: center;
}

.label-box {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8em 0;
}

.h2-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.8em;
  padding-bottom: 1em;
}

.button-primary {
  margin-top: 1.4em;
}

.label-text {
  font-weight: 500;
  font-size: 1.1em;  
  letter-spacing: -0.5px;
  padding: 0.3em 0;
}

.input-field {
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  border-radius: 4px;
  padding: 0.6em;
  margin: 0.2em;
  border: 1px solid var(--teal);
  outline: none;
}

.input-field:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);  
  border: 1px solid rgba(81, 203, 238, 1);
}

.form-btn {
  margin: 0.3em 0;
}